.str{
    display: grid;
    grid-template-areas: "first first"" second second" "last last";
}
.first{
    width: auto;
    height: 60px;
    display: flex;
    grid-area: first;
    background-image: url(/img.css/download.jpeg);
}
.img{
    border: 2.1px solid white;
    margin-top: 6px;
    height: 45px;
    width: 45px;
    border-radius: 40px;
    margin-left: 4px;
}
.h{
   margin-left: 4px ;
}
.bc {
    display: flex;
    align-items:center ;
margin-left: 400px;
gap: 40px;

}
.H{
    background-color: transparent;
    color: white;
    font-size: 13px;
    border: none;
}
.A{
    font-size: 13px;
    background-color: transparent;
    color: white;
    border: none;
}
.C{font-size: 13px;
    background-color: transparent;
    color: white;
    border: none;
}
.L{font-size: 13px;
    color: white;
    border: none;
    background-color: transparent;
}
.h{
    color: white;
}
.second{
    
    
    grid-area: second;
    width: auto;
    height:832px ;
}
.is{
    width: 1250px;
}
.last{
  
    grid-area: last;
    width: auto;
    height: 400px;
}
.li{
    width: 1250px;
    height: 400px;
}
.img{
    animation: img 2s;
}
@keyframes img {
    to{
        transform: rotate(1deg);
    }
    from{ transform: rotate(180deg);}
}
.H:hover{
animation: H 0.5s;
}
@keyframes H {
    to{  
    background-color: black;
    border-radius: 4px;
    border: 2px solid white;
opacity: 40%;
transform: rotate(1deg);
}
    From{    
        background-color: black;
        border-radius: 4.8px;
        border: 2px solid white;
        opacity: 80%;
    transform: rotate(-180deg);
}
    }
    .A:hover{
        animation: A 0.5s;
        }
        @keyframes A{
            to{  
            background-color: black;
            border-radius: 4px;
            border: 2px solid white;
        opacity: 40%;
        transform: rotate(1deg);
        }
            From{    
                background-color: black;
                border-radius: 4.8px;
                border: 2px solid white;
                opacity: 80%;
            transform: rotate(-180deg);
        }}
        .C:hover{
            animation: C 0.5s;
            }
            @keyframes C{
                to{  
                background-color: black;
                border-radius: 4px;
                border: 2px solid white;
            opacity: 40%;
            transform: rotate(1deg);
            }
                From{    
                    background-color: black;
                    border-radius: 4.8px;
                    border: 2px solid white;
                    opacity: 80%;
                transform: rotate(-180deg);
            }}
            .L:hover{
                animation: L 0.5s;
                }
                @keyframes L{
                    to{  
                    background-color: black;
                    border-radius: 4px;
                    border: 2px solid white;
                opacity: 40%;
                transform: rotate(1deg);
                }
                    From{    
                        background-color: black;
                        border-radius: 4.8px;
                        border: 2px solid white;
                        opacity: 80%;
                    transform: rotate(-180deg);
                }}